<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Movimientos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>

<h1 th:text="${titulo}"></h1>
<br>
<form th:object="${movimiento}" th:action="@{/movimiento/crearMovimiento}" method="post">
    <div class="form-group">
        <br/>
        <label for="tipo_movimiento">Tipo de Movimiento</label>
        <select class="form-control" id="tipo_movimiento" th:field="*{tipo_movimiento}">
            <option value=" "></option>
            <option value="Pago con Tarjeta de Crédito">Pago con Tarjeta de Crédito</option>
            <option value="Pago en Efectivo">Pago en Efectivo</option>
            <option value="Pago con Transacción Bancaría">Pago con transacción Bancaría</option>
        </select>
        <small id="tipo_movimientohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes
            mostrar</small>
        <br/>
        <label for="numero_factura">Número de Factura</label>
        <input id="numero_factura" type="text" class="form-control" th:field="*{numero_factura}" name="numero_factura"
               placeholder="Ingrese el número de factura">
        <small id="numero_facturahelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes
            mostrar</small>
        <br/>
        <label for="fecha">Fecha</label>
        <input id="fecha" type="date" class="form-control" th:field="*{fecha}" name="fecha">
        <small id="fechahelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br/>
        <label for="total">Total</label>
        <input id="total" type="text" class="form-control" th:field="*{total}" name="total"
               placeholder="Ingrese el total">
        <small id="totalhelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <div class="form-label">
            <input type="submit" value="GUARDAR"
                   class="btn btn-success"/>
        </div>
    </div>
</form>
</body>
</html>