<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Tercero</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>

<h1 class="text-center" th:text="${titulo}"></h1>
<br>
<div class="container">
<form th:object="${tercero}" th:action="@{/tercero/crearTercero}" method="post">
    <div class="form-group">
        <br/>
        <label for="tipo_documento">Tipo de Documento</label>
        <select class="form-control" id="tipo_documento" th:field="*{tipo_documento}">
            <option value=" "></option>
            <option value="C.C.(Cédula de Ciudadanía)">C.C.(Cédula de Ciudadanía)</option>
            <option value="T.I.(Tarjeta de Identidad)">T.I.(Tarjeta de Identidad)</option>
            <option value="C.E.(Cédula Extranjera)">C.E.(Cédula Extranjera)</option>
            <option value="Pasaporte">Pasaporte</option>
        </select>
        <small id="tipo_documentohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes
            mostrar</small>
        <br/>
        <label for="documento">Documento</label>
        <input id="documento" type="text" class="form-control" th:field="*{documento}" name="documento"
               placeholder="Ingrese su documento">
        <small id="documentohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes
            mostrar</small>
        <br/>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" class="form-control" th:field="*{nombre}" name="nombre"
               placeholder="Ingrese su nombre">
        <small id="nombrehelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text" class="form-control" th:field="*{apellido}" name="apellido"
               placeholder="Ingrese su apellido">
        <small id="apellidohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="direccion">Direccion</label>
        <input id="direccion" type="text" class="form-control" th:field="*{direccion}" name="direccion"
               placeholder="Ingrese su direccion">
        <small id="direccionhelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes
            mostrar</small>
        <br>
        <label for="telefono">Telefono</label>
        <input id="telefono" type="text" class="form-control" th:field="*{telefono}" name="telefono"
               placeholder="Ingrese su telefono">
        <small id="telefonohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" th:field="*{email}" name="email"
               placeholder="Ingrese su email">
        <small id="emailhelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="genero">Genero</label>
        <select class="form-control" id="genero" th:field="*{genero}">
            <option value=" "></option>
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
            <option value="Binario">Binario</option>
        </select>
        <small id="generohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="tipo_tercero">Tipo tercero</label>
        <select class="form-control" id="tipo_tercero" th:field="*{tipo_tercero}">
            <option value=" "></option>
            <option value="Cliente">Cliente</option>
            <option value="Proveedor">Proveedor</option>
            <option value="Trabajador">Trabajador</option>
        </select>
        <small id="tipo_tercerohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes
            mostrar</small>
        <br>
        <div class="form-label">
            <input type="submit" value="GUARDAR"
                   class="btn btn-success"/>
        </div>
    </div>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>