<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Terceros</title>
    <meta charset="UTF-8">
    <meta name="description" content="Esta es mi primera pagina web" />
    <meta name="author" content="Andres y Alexis" />
    <meta name="keywords" content="Pagina web, mi primera pagina, programación" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>

<h1 th:text="${titulo}"></h1>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Tipo documento</th>
        <th>Documento</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Genero</th>
        <th>Tipo tercero</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="tercero: ${tercero}">
        <td th:text="${tercero.id}"></td>
        <td th:text="${tercero.tipo_documento}"></td>
        <td th:text="${tercero.documento}"></td>
        <td th:text="${tercero.nombre}"></td>
        <td th:text="${tercero.apellido}"></td>
        <td th:text="${tercero.direccion}"></td>
        <td th:text="${tercero.telefono}"></td>
        <td th:text="${tercero.email}"></td>
        <td th:text="${tercero.genero}"></td>
        <td th:text="${tercero.tipo_tercero}"></td>
        <td><a class="btn btn-danger btn-xs" th:href="@{/tercero/eliminarTercero/} + ${tercero.id}" th:text="'Eliminar'" onclick="return confirm('¿Estás seguro que quieres eliminar?');"></a></td>
        <td><a class="btn btn-primary" th:href="@{/editarTercero/} + ${tercero.id}" th:text="'Editar'"></a></td>

    </tr>
    </tbody>
</table>
<a th:href="@{/tercero/crearTercero}"
   class="btn btn-primary" style="margin-top: 10px;margin-left: 25px;">Crear Tercero</a>

</body>
</html>