<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Productos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>

<h1 th:text="${titulo}"></h1>
<br>
<form th:object="${producto}" th:action="@{/producto/crearProducto}" method="post">
    <div class="form-group">
        <br/>
        <label for="nombre">Nombre del Producto</label>
        <input id="nombre" type="text" class="form-control"th:field="*{nombre}" name="nombre" placeholder="Ingresa el nombre del producto">
        <small id="nombrehelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br/>
        <label for="descripcion">Descripcion</label>
        <input id="descripcion" type="text" class="form-control"th:field="*{descripcion}" name="descripcion" placeholder="Ingrese una descripcion">
        <small id="descripcionhelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br/>
        <label for="precio">Precio</label>
        <input id="precio" type="text" class="form-control"th:field="*{precio}" name="precio" placeholder="Ingrese el precio">
        <small id="preciohelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="iva">Iva</label>
        <input id="iva" type="text" class="form-control"th:field="*{iva}" name="iva" placeholder="Ingrese el iva">
        <small id="ivahelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="cantidad_maxima">Cantidad Máxima</label>
        <input id="cantidad_maxima" type="number" class="form-control"th:field="*{cantidad_maxima}" name="cantidad_maxima" placeholder="Ingrese la cantidad máxima">
        <small id="cantidad_maximahelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <label for="cantidad_minima">Cantidad Mínima</label>
        <input id="cantidad_minima" type="number" class="form-control"th:field="*{cantidad_minima}" name="cantidad_minima" placeholder="Ingrese la cantidad mínima">
        <small id="cantidad_minimahelp" class="form-text text-muted">Esto son ayudas o restricciones que puedes mostrar</small>
        <br>
        <div class="form-label">
            <input type="submit" value="GUARDAR"
                   class="btn btn-success" />
        </div>
    </div>

</form>

</body>
</html>