.login-nav{
    display:flex;
    justify-content: space-between;
    color: white;
}
.inicio-img{
    max-width: 100%;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.login{
    margin-top: 50px;
}

.footer-login{
    margin-top: 102px;
}